{% trans_default_domain 'FOSUserBundle' %}

{# @todo not sure what to do here...do we even want to end up here, redirect?
<div class="fos_user_user_show">
    <p>{{ 'profile.show.email_username'|trans }}: {{ user.email }}</p>
</div>
#}