Icon?
.DS_Store
.svn
*~
*.swp
coverage
html/coverage

sftp-config.json
.remote-sync.json
.sass-cache
node_modules
/composer.phar

# Symfony
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/html/bundles/
# ignore everything in bin, except...
/bin/*
!/bin/console
!/bin/symfony_requirements

# PhpStorm
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/webServers.xml

# Gradle:
.idea/gradle.xml
.idea/libraries