<!--[if lte IE 8]>
<div class="ie8_warning-wrap">
    <div class="ie8_warning-content">
        <strong class="ie8_warning--big">This site does not support the browser you are using.</strong><br>
        We recommend upgrading your browser as it's out-of-date.<br>
        Please check <a href="https://support.microsoft.com/en-ca/help/17621/internet-explorer-downloads" class="ie8_warning-link">Microsoft's instructions regarding updating your browser</a>.<br>
        We only support Internet Explorer version 9 and newer.
    </div>
</div>
<![endif]-->