{% extends '::public.html.twig' %}

{% block page_title %}Maintenance | {% endblock %}

{% block content %}
    <div>
        <h1>Maintenance</h1>

        <p><strong>The site is temporarily down for maintenance.</strong></p>
        <p>
            {% if in_maintenance_until is not empty %}
                The site will be down until {{ in_maintenance_until }}.
            {% else %}
                We will resume normal operations as soon as possible.
            {% endif %}
        </p>
    </div>
{% endblock content %}