{% extends '::admin.html.twig' %}

{% block page_title %}Admin | {% endblock %}

{% block content %}
    <h1>{{ "app.admin.content.title"|trans }}</h1>

    {% include 'flashMessages.html.twig' %}

    <h3>Manage</h3>
    <ul>
        <li><a href="{{ path('admin_user_list') }}">Users</a></li>
    </ul>
{% endblock %}