{% trans_default_domain 'FOSUserBundle' %}

<div class="form-form_wrap">
    <h2>Change Password</h2>
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        {{ form_widget(form) }}
        <div class="form-button_wrap">
            <button type="submit">{{ 'change_password.submit'|trans }}</button>
        </div>
    </form>
</div>