.content-wrap {
    @apply relative bg-white z-10;
    transition: all 0.15s ease;
    @include mq(tablets) {
        @apply z-auto;
        margin-left: $sidebar-width;
    }

    // the following are for the admin menu when closed and then open
    .sidebar_nav-visible & {
        transform: translateX($sidebar-width);
    }
    .sidebar_nav-submenu-open & {
        transform: translateX(16rem);
    }
}

@import '../common/content_alignment';