.header_admin-wrap {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
    height: $admin-header-height + 3.5;
    background: rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid $admin-header-border;
    @include mq(24em) {
        height: $admin-header-height + 1;
    }
    @include mq(49em) {
        align-items: center;
        height: $admin-header-height;
    }
}

.header_admin-page_title {
    font-size: 1.3em;
    flex: 1 0 10em;
    max-width: 50%;
    padding: 0.7rem 1rem;
    color: $admin-header-title;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include mq(wide_handhelds) {
        flex: 1 0 auto;
        max-width: 18em;
    }
    @include mq(49em) {
        font-size: 1.7em;
        max-width: 60%;
    }
    @include mq(74em) {
        max-width: 27em;
    }
}

.header_admin-actions {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex: 1 1 100%;
    justify-content: flex-end;
    padding: 0 1.1rem 0.5rem 1.1rem;
    text-align: right;

    @include mq(49em) {
        display: inline-block;
        padding-bottom: 0;

    }
}

.header_admin-action {
    display: inline-block;
    font-size: 0.8em;
    margin: 1.5em 0;
    transition: background-color 0.15s ease-in-out;
    padding: 0.5em 1.2em;
    border-radius: 3px;
    border: 1px solid $admin-header-action;
    &:hover {
        text-decoration: none;
        background-color: $admin-header-action-hover;
    }
}

.header_admin-action-main {
    order: 1;
    margin-bottom: 0.75em;
    color: $admin-header-action;
    text-align: center;
    background-color: $admin-header-action;
    color: $admin-header-action-text;
     &:hover {
         background-color: darken($admin-header-action, 5%);
     }
    @include mq(handhelds) {
         margin: 1em 0 1em 1.25em;
    }

    @include mq(tablets) {
       margin: 1.85em 0 1em 1.25em;
    }

    @include mq(49em) {
         margin: 1em 0 1em 1.25em;
    }
}

.header_admin-action-secondary {
    order: 3;
    flex-basis: 100%;
    padding: 0;
    margin: 1em 0 0.25em;
    border: none;

    @include mq(24em) {
        margin-top: 0;
    }

    @include mq(49em) {
        display: inline-block;
        padding: 0 0.8em;
        margin-bottom: 0;
    }
    &:hover {
        background-color: initial;
        text-decoration: underline;
    }
}

.header_admin-action-nav-wrap {
    order: 2;
    white-space: nowrap;
    @include mq(49em) {
        display: inline;
        width: 100%;
        margin: 0 0 0.75em;
    }
}

// @todo change to BEM
.header_admin_small-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: $admin-header-height;
    padding: 0 1em 0;
    color: $admin-header-action-text;
    background: $color-grey-dark;
    border-bottom: 1px solid lighten($color-grey-dark, 35%);
    z-index: 10;
    a {  color: $admin-header-action-text; }
    @include mq(tablets) { display: none; }
}

.header_admin_small-logo {
    svg {
        width: 2.3em;
        height: 2.6em;
    }
    // float is fall back for <IE9
    float: right;
    fill: $color-white;
}