.record_list-wrap {
    display: table;
    min-width: 100%;
    margin-top: 1em;
    padding: 0;
    border-collapse: collapse;
    list-style: none;
    li {
        display: flex;
        flex-flow: column wrap;
        padding: 0.3em;
        border-bottom: 1px solid darken($record-list-lines, 15%);
        &:first-of-type { display: none; }
        &:nth-of-type(2) { border-top: 1px solid darken($record-list-lines, 15%); }
        @include mq(tablets) {
            display: table-row;
            border-bottom: 1px solid rgba($record-list-lines, 0.5);
            transition: background 0.15s ease-in-out;
            &:first-of-type { display: table-row; }
        }
    }
}

.record_list-wrap-light_borders {
    li {
        border-bottom: 1px solid rgba($record-list-lines, 0.5);

        &:nth-of-type(2) { border-top: 1px solid rgba($record-list-lines, 0.5); }
    }
}

.record_list-heading {
    margin-bottom: 0;
}
// any record list heading that comes after a previous record list
.record_list-wrap + .record_list-heading {
    margin-top: 2.5em;
}

.record_list-item:hover {
    color: $text-color;
    background: $record-list-row-hover;
}

.record_list-mobile_heading {
    margin-top: 0.25em;
    color: rgba($color-grey-dark, 0.6);
    @include mq(tablets) { display: none; }
    &-weight_inherit { font-weight: inherit; }
}

.record_list-item-inactive {
    color: rgba($text-color, 0.3);
    a { opacity: 0.5; }

    &:hover {
        color: rgba($text-color, 0.7);
        a {
            opacity: 0.65;
            &:hover {
                opacity: 1;
            }
        }
    }
}
// the following 3 are in descending importance
.record_list-item-critical {
    background-color: rgba($status-type-danger, 0.3);
    &:hover { background-color: rgba($status-type-danger, 0.4); }
}
.record_list-item-urgent {
    background-color: rgba($status-type-warning, 0.5);
    &:hover { background-color: rgba($status-type-warning, 0.8); }
}
.record_list-item-important {
    background-color: rgba($status-type-info, 0.4);
    &:hover { background-color: rgba($status-type-info, 0.8); }
}

.record_list-col {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.3em 0.5em;
}
.record_list-col-no_wrap { white-space: nowrap; }
.record_list-col-center { text-align: center; }
.record_list-col-center-desktop_only {
    @include mq(tablets) {
        text-align: center;
    }
}

.record_list-col-light {
    color: rgba($color-grey-dark,0.6);
}
.record_list-col-right { text-align: right; }

.record_list-col-actions {
    text-align: right;
    // 0.6 matches the form action links
    opacity: 0.6;
    transition: opacity 0.25s ease;

    // on row hover, "reset" opacity
    .record_list-wrap li:hover & {
        opacity: inherit;
        transition: opacity 0.25s ease;
    }

    a {
        margin-left: 1em;
    }
    // the first a that's a direct child of the actions col
    > a:first-child {
        margin-left: 0;
    }
}

.record_list-col-view {
    padding: 0 0.5em 0.3em 0;
    @include mq(tablets) {
        padding: 0.3em 0.5em;
    }
}

.record_list-col-accreditation_type {
    @include mq(tablets) {
        width: 15%;
    }
    .record_view-item_label {
         width: 100%;
    }
}

.record_list-col-accreditation_code {
    @include mq(tablets) {
        width: 15%;
    }
    .record_view-item_label {
         width: 100%;
    }
}

.record_list-col-accreditation_name {
    @include mq(tablets) {
        width: 50%;
    }
    .record_view-item_label {
         width: 100%;
    }
}

.record_list-col-accreditation_date {
    @include mq(tablets) {
        width: 20%;
    }
    .record_view-item_label {
         width: 100%;
    }
}

.record_list-headers {
    display: none;
    @include mq(tablets) {
        display: table-header-group;
        font-weight: bold;
        border-bottom: none;
        background: $record-list-header-background;
    }
}

.record_list-record_count {
    font-size: 0.8em;
    margin-bottom: 1.5em;
    text-align: center;
}

.record_list-button_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 2em 0 0;
    h3 { margin: 0; }
}

// @todo ...not really the right place, but works for now
.record_list-icon_wrap {
    width: 1.1em;
    height: 1.1em;
}
.record_list-icon-green {
    fill: green;
}
.record_list-icon-red {
    fill: red;
}
.record_list-icon-grey {
    fill: lightgrey;
}

.record_list-legend {
    font-size: 0.8em;
    color: lighten($text-color, 20%);
}