.record_view-item_wrap {
    max-width: 45em;
    margin: 1em auto 0;
    padding: 0.5em;
    border: 4px solid $record-view-border;
    border-radius: 5px;
    &:first-child {
        margin-top: 0;
    }
}
.record_view-item_group_wrap {
    margin-top: 0.7em;
    padding-top: 0.7em;
    border-top: 2px solid $record-view-border;
    h4 {
        margin-bottom: 0.5em;
        padding: 0 0.3em;
    }
}
.record_view-item {
    @apply flex flex-row flex-wrap;
    padding: 0.3em;
    transition: background 0.15s ease-in-out;
    &:hover {
        background: rgba($primary-color, 0.2);
    }
}

.record_view-header_wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 0.3em;

    h3 {
        margin-bottom: 0.5em;
    }
}

.record_view-header_actions {
    font-size: 0.9em;
    margin-left: auto;
    text-align: right;
    color: rgba($primary-color, 0.65);
    &:hover {
        color: $primary-color;
    }
}

.record_view-item-no_hover:hover {
    background: inherit;
}

.record_view-item_label {
    // @todo do we need to specific 100%? (x2)
    width: 100%;
    // @todo does this make sense?
    min-width: 5em;
    color: rgba($color-grey-dark, 0.6);
    @include mq(tablets) {
        width: 20%;
    }
}
.record_view-item_value {
    // @todo do we need to specific 100%? (x2)
    width: 100%;
    // @todo what does this solve?
    word-wrap: break-word;
    @include mq(tablets) {
        width: 80%;
        padding-left: 1em;
    }
}
.record_view-item_value-inactive {
    color: rgba($text-color, 0.6);
}

.record_view-item-full_width {
    .record_view-item_label, .record_view-item_value {
        width: 100%;
    }
    .record_view-item_value {
        padding: 1em 0;
    }
}

.record_view-list {
    margin: 0;
    padding-left: 1em;
    li {
        margin-bottom: 0.25em;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.record_view-icon {
    width: 1.1em;
    height: 1.1em;
}
