.sidebar_nav-wrap {
    position: fixed;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    text-align: center;
    color: $sidebar-link;
    background: $color-grey-dark;
    z-index: 9;
    .sidebar_nav-submenu-open & {
        width: $sidebar-width + $sidebar-submenu-width;
    }
}

.sidebar_nav-link {
    color: inherit;
    fill: $sidebar-link;
    opacity: 0.8;
    &:hover { opacity: 1; }
}

// this is the logo and is a link
.sidebar_nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $sidebar-width;
    height: 3.75rem;
    padding: 0.65em 0;
    color: rgba($sidebar-link, 0.8);
    fill: $color-white;
    opacity: 0.8;
    border-bottom: 1px solid lighten($color-grey-dark, 35%);
    &:hover { color: $sidebar-link; }

    img, svg {
        display: block;
        max-width: 5em;
        max-height: 2.3em;
        margin: 0 auto;
    }
}

.sidebar_nav-nav {
    width: $sidebar-width;
    height: 100%;
    margin: 1.2rem 0;
    // so it's possible to scroll the last item into view
    padding: 0 0 11rem;
    list-style: none;
    overflow-y: scroll;

    li {
        // so we can control the positioning of the submenu arrow
        position: relative;
    }

    &:after {
        position: absolute;
        // header + margin on ul/parent
        top: $admin-header-height + 1.2rem;
        left: 0;
        width: $sidebar-width;
        height: 1.5rem;
        background: linear-gradient(to bottom, $color-grey-dark, transparent);
        content: "";
    }
}

.sidebar_nav-nav_item {
    display: block;
    font-size: 0.8em;
    margin: 2em 0;
    text-align: center;
    svg {
        display: block;
        width: 2.3em;
        height: 2.3em;
        margin: 0 auto 0.3em;
    }
}

.sidebar_nav-bottom_wrap {
    position: absolute;
    bottom: 0;
    width: $sidebar-width;
    padding-top: 0.5em;
    background: $color-grey-dark;
    text-align: center;
    // the gradient above the profile
    &:before {
        position: absolute;
        top: -2.5rem;
        left: 0;
        width: $sidebar-width;
        height: 2.5rem;
        background: linear-gradient(to bottom, transparent, $color-grey-dark);
        content: "";
    }

    a {
        color: rgba($sidebar-link, 0.8);
    }
}
.sidebar_nav-profile {
    font-size: 0.9em;
}
.sidebar_nav-logout {
    padding: 0.5em;
    font-size: 0.8em;
}
.sidebar_nav-copyright {
    font-size: 0.7em;
    padding: 0.5em 0;
    border-top: 1px solid darken($sidebar-link, 50%);;
    color: darken($sidebar-link, 50%);
    a { color: inherit; }
}