$tooltip-bkg-color: rgba(51, 51, 51, 0.9);

.tooltip {
    position: relative;
}

.tooltip:before,
.tooltip:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition:
            opacity 0.2s ease-in-out,
            visibility 0.2s ease-in-out,
            transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
    visibility: visible;
    opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after {
    z-index: 1000;
    padding: 8px;
    width: 320px;
    background-color: $tooltip-bkg-color;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
    border-radius: 4px;
}

/* Directions */

/* Top (default) */
//.tooltip:before,
//.tooltip:after {
//    bottom: 100%;
//    left: 50%;
//}

.tooltip:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: $tooltip-bkg-color;
}

/* Horizontally align top/bottom tooltips */
.tooltip:after {
    margin-left: -80px;
}

.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
    transform: translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
    right: 100%;
    bottom: 50%;
    left: auto;
}

.tooltip-left:before {
    /* Move directional arrows down a bit for left/right tooltips */
    top: 3px;
    margin-left: 0;
    margin-right: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-left-color: $tooltip-bkg-color;
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
    transform: translateX(-12px);
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after {
    margin-left: 0;
    margin-bottom: -16px;
}