.user_list-name {
    display: none;
    @include mq(wide_handhelds) { display: table-cell; }
}
.user_list-status {
    display: none;
    @include mq(40em) { display: table-cell; }
}
.user_list-last_login {
    display: none;
    @include mq(wide_tablets) { display: table-cell; }
}
.user_list-role {
    display: none;
    @include mq(tablets) { display: table-cell; }
}
.user_list-instructions {
    font-size: 0.8em;
    color: lighten($text-color, 20%);
}