// for the maximum width of the entire content (images + text + etc)
// not really used in the admin in most cases
$max-width: 71.25em;
// max width for content (text)
$max-content-width: 33em;

$text-color: #444;
$primary-color: $color-red;
$link-color: $primary-color;

$border-radius: 2px;

$button-text: $color-white;
$button-background: $primary-color;
$button-delete-color: $color-red-light;
$button-delete-color-hover: $color-white;
$button-delete-background: rgba($color-white, 0.5);
$button-delete-background-hover: $color-red;

$admin-header-title: $primary-color;
$admin-header-border: lighten($color-grey-dark, 70%);
$admin-header-action: $primary-color;
$admin-header-action-text: $color-white;
$admin-header-action-hover: $color-white;
$admin-header-inactive: rgba($color-grey-dark, 0.2);
$admin-header-height: 3.72rem;
$admin-header-background: rgba(0, 0, 0, 0.05);

$sidebar-width: 6rem;
$sidebar-submenu-width: 15rem;
$sidebar-link: $color-white;
$sidebar-background: lighten($color-grey-dark, 10%);
$sidebar-header-border: lighten($color-grey-dark, 30%);

$record-list-row-hover: rgb(234, 245, 252);
$record-list-header-background: rgb(216, 216, 217);
$record-list-lines: rgb(153, 153, 153);
$record-list-lines-light: rgb(200, 200, 200);
$record-view-border: $record-list-header-background;
