$color-dark-grey: rgb(32, 36, 41);
$color-light-grey: rgb(216, 216, 217);
$color-green: rgb(1, 142, 66);
$color-red: rgb(196, 90, 75);

$button-text: $color-white;
$button-background: $link-color;
$button-delete-color: $color-red;
$button-delete-color-hover: $color-white;
$button-delete-background: rgba($color-white, 0.5);
$button-delete-background-hover: $color-red;

$admin-header-title: $color-green;
$admin-header-border: lighten($color-dark-grey, 70%);
$admin-header-action: $color-green;
$admin-header-action-text: $color-white;
$admin-header-action-hover: rgba($color-dark-grey, 0.95);
$admin-header-inactive: rgba($color-dark-grey, 0.2);

$sidebar-width: 6rem;
$sidebar-submenu-width: 15rem;
$sidebar-link: $color-white;
$sidebar-background: lighten($color-dark-grey, 10%);
$sidebar-header-border: lighten($color-dark-grey, 30%);

$record-list-row-hover: rgb(234, 245, 252);
$record-list-header-background: $color-light-grey;