$color-green: rgb(1, 142, 66);
$color-red: rgb(196, 90, 75);
$color-red-light: rgb(247, 81, 70);

$button-text: $color-white;
$button-background: $link-color;
$button-delete-color: $color-red;
$button-delete-color-hover: $color-white;
$button-delete-background: rgba($color-white, 0.5);
$button-delete-background-hover: $color-red;

$admin-header-title: $color-red-light;
$admin-header-border: lighten($color-grey-dark, 70%);
$admin-header-action: $color-red-light;
$admin-header-action-text: $color-white;
$admin-header-action-hover: $color-white;
$admin-header-inactive: rgba($color-grey-dark, 0.2);
$admin-header-height: 3.72rem;

$sidebar-width: 6rem;
$sidebar-submenu-width: 15rem;
$sidebar-link: $color-white;
$sidebar-background: lighten($color-grey-dark, 10%);
$sidebar-header-border: lighten($color-grey-dark, 30%);

$record-list-row-hover: rgb(234, 245, 252);
$record-list-header-background: $color-grey-light;
$record-list-lines: rgb(191, 191, 191);