{% extends '::admin.html.twig' %}

{% block content %}
    <h1>Edit: User</h1>

    {% include 'flashMessages.html.twig' %}

    {% include 'AdminUser/userForm.html.twig' %}

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_user_list') }}">Back to the list</a>
        </li>
        <li>{{ form(reset_password_form) }}</li>
        <li>{{ form(lock_unlock_form) }}</li>
        <li>{{ form(delete_form, { 'attr' : { 'class' : 'js-form-delete', 'data-record-desc' : 'User' }}) }}</li>
    </ul>
{% endblock %}
